/* SCSS HEX */
$space-indigo: #25283dff;
$periwinkle: #a594f9;
$carmine: #ba1f33ff;
$watermelon: #eb334eff;
$alabaster-grey: #eaeaeaff;
$bg: rgb(243, 241, 236);

$latoFont: "Lato", sans-serif;
$montserratFont: "Montserrat", sans-serif;

body {
  margin: 0;
  padding: 0;
  background-color: $bg;
  font-family: $latoFont;
}

%box-shadower-extender {
  --shadow-color: 43deg 8% 51%;
  --shadow-elevation-medium:
    0.2px 0.3px 0.3px hsl(var(--shadow-color) / 0.64),
    0.3px 0.5px 0.5px -1.1px hsl(var(--shadow-color) / 0.53),
    0.9px 1.3px 1.3px -2.3px hsl(var(--shadow-color) / 0.41),
    2.2px 3.3px 3.2px -3.4px hsl(var(--shadow-color) / 0.3),
    4.7px 7.1px 7px -4.5px hsl(var(--shadow-color) / 0.18);

  box-shadow: var(--shadow-elevation-medium);
}

%flexer-extender {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  @extend %box-shadower-extender;
  @extend %flexer-extender;
  background-color: white;
  justify-content: space-around;
  height: 60px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  max-width: 800px;
  width: 800px;
  border: 2px solid $alabaster-grey;
}

button {
  font-family: $montserratFont;
  font-weight: 500;
  transition: 0.15s;
  &:hover {
    opacity: 0.9;
  }
}

main {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 1rem;
  gap: 10px;
}

aside {
  @extend %flexer-extender;
  flex-direction: column;
  gap: 20px;

  & > .personal-details-ctn,
  .education-ctn,
  .experience-ctn {
    @extend %box-shadower-extender;
    background-color: white;
    border-radius: 6px;
    border: 2px solid $alabaster-grey;
    padding: 30px;

    & > h2 {
      font-family: $montserratFont;
      font-weight: 500;
      font-size: 2rem;
      color: $periwinkle;
    }

    & > div {
      @extend %flexer-extender;
      flex-direction: column;
      gap: 20px;

      & div {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 6px;
      }
    }
  }
}

label {
  font-family: $montserratFont;
  font-weight: 500;
  color: $periwinkle;
  font-size: 0.9rem;
}

input {
  background-color: whitesmoke;
  border: 2px solid $alabaster-grey;
  padding: 12px;
  border-radius: 6px;
  width: 240px;
  max-width: 240px;
  transition: 0.15s;

  &::placeholder {
    font-family: $latoFont;
  }

  &:focus {
    border: 2px solid $periwinkle;
    outline: none;
  }

  &:invalid {
    border: 2px solid $carmine;
  }
}

.cv-ctn {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr;
  @extend %box-shadower-extender;
  background-color: white;
  border-radius: 4px;

  & > .cv-header-ctn {
    flex: 1;
    background-color: $space-indigo;
    @extend %flexer-extender;
    flex-direction: column;
    color: white;

    & div {
      @extend %flexer-extender;
      gap: 20px;

      & > h1 {
        font-size: 32px;
        font-family: $montserratFont;
        margin-bottom: 0;
      }

      &:nth-child(1) {
        flex-direction: column;
        gap: 6px;
      }
    }
  }

  & > .cv-body-ctn {
    @extend %flexer-extender;
    flex-direction: column;
    gap: 8px;

    & > .cv-body-element {
      @extend %flexer-extender;
      flex-direction: column;
      padding: 12px;
    }
  }
}

.cv-element-header-ctn {
  @extend %flexer-extender;
  background-color: $alabaster-grey;
  width: 80%;
  max-width: 80%;
  border-radius: 4px;
  & > h2 {
    color: $space-indigo;
    font-size: medium;
    font-family: $montserratFont;
  }
}

.cv-element-body-ctn {
  @extend %flexer-extender;
  gap: 12px;

  & > .cv-element-date-ctn {
    @extend %flexer-extender;
    flex-direction: column;

    & > p {
      padding: 6px;
      margin: 0;
    }
  }

  & > .cv-element-body {
    @extend %flexer-extender;
    flex-direction: column;

    & > h2 {
      color: $space-indigo;
      font-family: $montserratFont;
      font-size: 1.2rem;
      padding: 0;
      margin: 0;
    }

    & > p {
      padding: 6px;
    }
  }
}
