/* SCSS HEX */
body {
  margin: 0;
  padding: 0;
  background-color: rgb(243, 241, 236);
  font-family: "Lato", sans-serif;
}

aside > .education-ctn, aside > .personal-details-ctn, nav {
  --shadow-color: 43deg 8% 51%;
  --shadow-elevation-medium:
    0.2px 0.3px 0.3px hsl(var(--shadow-color) / 0.64),
    0.3px 0.5px 0.5px -1.1px hsl(var(--shadow-color) / 0.53),
    0.9px 1.3px 1.3px -2.3px hsl(var(--shadow-color) / 0.41),
    2.2px 3.3px 3.2px -3.4px hsl(var(--shadow-color) / 0.3),
    4.7px 7.1px 7px -4.5px hsl(var(--shadow-color) / 0.18);
  box-shadow: var(--shadow-elevation-medium);
}

aside > .education-ctn > div, aside > .personal-details-ctn > div, aside, nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  background-color: white;
  justify-content: space-around;
  height: 60px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  max-width: 800px;
  width: 800px;
  border: 2px solid #eaeaea;
}

button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  transition: 0.15s;
}
button:hover {
  opacity: 0.9;
}

main {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 1rem;
  gap: 10px;
}

aside {
  flex-direction: column;
}
aside > .personal-details-ctn {
  background-color: white;
  border-radius: 6px;
  border: 2px solid #eaeaea;
  padding: 24px;
}
aside > .personal-details-ctn > h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 2rem;
  color: #a594f9;
}
aside > .personal-details-ctn > div {
  flex-direction: column;
  gap: 20px;
}
aside > .personal-details-ctn > div div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 6px;
}
aside > .education-ctn {
  background-color: white;
  border-radius: 6px;
  border: 2px solid #eaeaea;
  padding: 24px;
}
aside > .education-ctn > h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 2rem;
  color: #a594f9;
}
aside > .education-ctn > div {
  flex-direction: column;
  gap: 20px;
}
aside > .education-ctn > div div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 6px;
}

label {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #a594f9;
  font-size: 0.9rem;
}

input {
  background-color: whitesmoke;
  border: 2px solid #eaeaea;
  padding: 12px;
  border-radius: 6px;
  width: 240px;
  max-width: 240px;
  transition: 0.15s;
}
input::-moz-placeholder {
  font-family: "Lato", sans-serif;
}
input::placeholder {
  font-family: "Lato", sans-serif;
}
input:focus {
  border: 2px solid #a594f9;
  outline: none;
}
input:invalid {
  border: 2px solid #ba1f33;
}